.nosotros {
	background-image: url(../img/dance_7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 0px 50px;
}
.cuadro {
	width: 500px;
	position: relative;
	display: inline-block;
	margin: 60px 210px;
	padding: 30px;
	color: white;
	text-align: center;
	z-index: 1;
}
.cuadro_fondo {
	position: absolute;
	left: 210px;
	top: 30px;
	display: inline-block;
	height: 250px;
	width: 500px;
	background-color: black;
	opacity: 0.5;
}
.cuadro h2 {
	line-height: 50px;
}
.fondo_pilar {
	background-image: url(../img/tile2.png);
	padding: 50px 0px;
	color: gray;
	text-align: center;
}
.fondo_pilar h2 {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.fondo_pilar .row {
	margin-left: 100px ;
}
.profesores img {
	width: 210px;
	height: 190px;
}
.profesores .row {
	padding-bottom: 80px;
}
.profesores h4 {
	padding: 10px 0px;
}
.inst {
	padding: 50px 0px;
}
.inst h2 {
	padding-bottom: 30px;
	text-align: center;
	font-family: LatoHeavy;
}
.fondo_pilar2 {
	background-image: url(../img/tile2.png);
	padding: 100px 0px;
	color: gray;
	text-align: center;
	font-size: 20px;
}
